/* Centraliza tudo na tela */
body {
  font-family: Arial, sans-serif;
  background-image: url('patinhas.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* cobre toda a tela */
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  

/* Títulos centralizados */
h1, h2 {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  text-align: center;
  margin-top: 20px;
  color: #5c4033; /* marrom escuro*/
}

/*Texto “Data da última consulta” */
.caixa-label {
  background-color: white;
  padding: 8px 16px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  margin: 10px 0;
  max-width: 300px;
  text-align: center;
  font-weight: bold;
  color: #5c4033; /* marrom escuro */
}

/* Formulário centralizado */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
}

/* Campos do formulário */
input, select, button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

/* Lista de pets centralizada */
#petList {
  margin-top: 30px;
  width: 100%;
  max-width: 500px;
}

/* Estilo de cada pet */
#petList div {
  background: #fff;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 8px;
}

/* Imagens dos pets */
img {
  max-width: 100px;
  margin-top: 10px;
  border-radius: 6px;

}
